@model DevBloggie.Web.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center px-5 py-4">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                DevBloggie
            </h1>
            <p class="lead">
                DevBloggie is the home to coding blogs covering a vast range of topics like HTML, CSS, JavaScript, ASP.NET Core, C#, React, Angular etc..
                Want to read the latest dev articles? Join the DevBloggie app and get weekly blogs in you email.
            </p>
        </div>

        <div class="col-12 col-lg-6">
            <img src="https://images.pexels.com/photos/3584996/pexels-photo-3584996.jpeg"
            alt="DevBloggie"
            class="d-block mx-lg-auto img-fluid" width="300"/>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">

        <div class="col-3">
            <h4>All Categories</h4>
            @if(Model is not null && Model.tags.Any())
            {
                @foreach(var tag in Model.tags)
                {
                    <span class="badge bg-dark me-1">@tag.Name</span>
                }
            }
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 rounded">
            @if(Model is not null && Model.BlogPosts.Any())
            {
                foreach(var blogPost in Model.BlogPosts)
                {
                    <div class="mb-5 bg-light box-shadow px-3 py-2 rounded">
                        <img src="@blogPost.FeaturedImageUrl" 
                        alt="@blogPost.Heading"
                             class="mb-2 d-block img-fluid rounded" />
                        <h3 class="mb-4">@blogPost.Heading</h3>
                        <p class="mb-2 fw-bold">
                            Author: @blogPost.Author
                            <br/>
                            Published Date: @blogPost.PublishedDate.ToShortDateString()
                        </p>
                        @if(blogPost.Tags is not null && blogPost.Tags.Any())
                        {
                            <div class="mb-4">
                                @foreach(var tag in blogPost.Tags)
                                {
                                <span class="badge bg-secondary">@tag.DisplayName</span>
                                }
                            </div>
                        }
                        <p class="mb-5">
                            @blogPost.ShortDescription
                        </p>
                        <a class="btn btn-dark" asp-area="" asp-controller="Blogs" asp-action="Index" asp-route-urlHandle="@blogPost.UrlHandle">Read More</a>
                    </div>
                }
            }
        </div>
    </div>
</div>